@import './colors';

.card {
  background-color: $color-white;
 // border: 1px solid $color-gray-border;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
  border-radius: 4px;
  padding: 8px;
  min-width: 120px;

  &__header {
    display: flex;
    align-items: center;
    height: 10px;
    border-bottom: 1px solid $color-gray-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
    color: $color-white;
    background-color: #666a73;
    font-size: 12pt;
    padding: 16px;
  }
}