@import "../../styles/colors";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .ant-form-item-children {
    input {
      background: $color-gray-background;
      width: 300px;
      &:focus {
        outline: none;
        border: 1px solid #d9d9d9;
        box-shadow: none;
      }
    }
  }

  .ant-form-item-label {
    font-weight: bold;

    label {
      color: $color-gray-dark;
    }
  }
}
