@import "../../styles/colors";
@import "../../styles/responsive";

.sidebar {
  position: absolute;
  top: 0px;
  height: calc(100vh);
  width: 248px;
  background: $color-white;
  left: -248px;
  border-radius: 8px;
  border-right: 2px solid $color-border;
  border-bottom: 2px solid $color-border;
  display: flex;
  flex-direction: column;
  padding: 12px;
  z-index: 2;
  overflow: hidden;

  @include respond-to(gt-xs) {
    height: calc(100vh - 25px - 80px);
    top: 75px;
    left: 20px;
  }

  &__search {
    margin-bottom: 12px;
    .ant-input {
      background: $color-gray-background;
      &:focus {
        outline: none;
      }
    }
  }

  &__sort-by {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 24px;

    &__sort {
      margin-left: auto;
      margin-right: 16px;
      font-weight: normal;
    }

    &__button {
      margin-left: auto;
      font-weight: bold;
      text-transform: lowercase;
    }
  }

  &__list {
    overflow-y: auto;
    width: 260px;
    padding-right: 36px;
    margin-bottom: 40px;

    .ant-list-item-meta-title {
      margin-bottom: 0;
    }

    .ant-list-item-action {
      li {
        width: calc(100% / 3);

        button {
          padding: 0;
          span {
            font-weight: bold;
          }
        }
        .ant-list-item-action-split {
          display: none;
        }
      }
    }
  }
}
