@import "./styles/card";
@import "./styles/colors";

html {
  height: 100%;
  display: flex;
}

div#root {
  flex: 1;
  display: flex;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-white;
}

.ui.card,
.ui.cards > .card {
  position: absolute;
  height: 80%;
  top: 80px;
  left: 20px;
}

.date-container {
  .ui.menu .item {
    padding: 2px;
  }

  .ui.input > input {
    border: none;
  }
}

.App-link {
  color: #09d3ac;
}

.ui.form.event-form {
  width: 100%;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .field {
    margin: 0 !important;
  }

  button.submit-event {
    width: calc(80% + 4px);
  }

  textarea {
    width: 100%;
    background: $color-gray-background;
    border: none;
  }

  .field.container {
    min-width: 40%;
    max-width: 40%;
    margin: 8px 4px 8px 0 !important;

    .field {
      width: 100%;
    }
    &.location {
      max-width: calc(80% + 4px);
      min-width: calc(80% + 4px);
    }

    input {
      background: $color-gray-background !important;
      border: none;
    }
  }
}

.pac-container {
  position: absolute;
  margin-top: 8px;
  border-top: none;
  border-bottom: 1px solid $color-gray-border;
  border-right: 1px solid $color-gray-border;
  box-shadow: none;
  z-index: 10000;

  &:after {
    background-image: none !important;
    height: 0px;
  }

  .pac-item {
    cursor: pointer;
    border: none;
    padding: 4px;
    padding-left: 12px;
    .pac-icon {
      display: none;
    }
  }
}
